<h1>Boats listing</h1>

<ul>
  <% @boats.each do |boat| %>
  <li><%= boat.name_boat %><br>
    <%= boat.price_per_day %><br>
    <%= boat.construction_year %><br>
    <%= boat.puissance %><br>
    <%= boat.max_person %><br>
    <%= boat.user_id %>
    </li>
    <% end %>
</ul>
