<h1>Boats listing</h1>

<div class="container">
  <div class="justify-content-center card-container">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2>Title here</h2>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing">£99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  </div>
</div>


  <% @boats.each do |boat| %>
    <%= boat.name_boat %><br>
    <%= boat.price_per_day %><br>
    <%= boat.construction_year %><br>
    <%= boat.puissance %><br>
    <%= boat.max_person %><br>
    <%= boat.user_id %>
  <% end %>
