<div class="container">
<h1>Liste des bateaux</h1>
<div class="container d-flex flex-column align-items-center">
<%= form_with url: boats_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
        params[:query],
        class: "form-control mx-2",
        placeholder: "Entrez nom de bateau"
    %>
  <%= submit_tag "Search", name: "", class: "btn btn-info" %>
<% end %>
</div>
<div class="search-page"></div>


  <div class="justify-content-center card-container">
    <% @boats.each do |boat| %>
      <%= link_to boat_path(boat) do %>
        <div class="card-trip">
          <% if boat.photo.attached? %>
            <%= cl_image_tag boat.photo.key, alt: "Le Wagon", width: 200 %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <% end %>
            <h6 class="p-1 text-center"><%= boat.name_boat %></h6>
          <div class="card-trip-infos">
            <div>
                <p>Année de construction:<%= boat.construction_year %></p>
                <p>Puissance: <%= boat.puissance %></p>
                <p>Nombre de personnes: <%= boat.max_person %></p>
            </div>
          <h2>Prix/jour</h2><h2 class="card-trip-pricing"><%= boat.price_per_day%> €</h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
