<h1>Liste de mes bateaux</h1>
<div class="resa-container">
    <% @boats.each do |boat| %>
      <div>
        <%= link_to boat_path(boat) do %>
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <h6 class="p-1 text-center"><%= boat.name_boat %></h6>
            <div class="card-trip-infos">
              <div>
                  <p>Année de construction:<%= boat.construction_year %></p>
                  <p>Puissance: <%= boat.puissance %></p>
                  <p>Nombre de personnes: <%= boat.max_person %></p>
              </div>
            <h2>Prix/jour</h2><h2 class="card-trip-pricing"><%= boat.price_per_day%> €</h2>
            </div>
          </div>
    <%= link_to "Supprimer votre bateau", boat_path(boat),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
        <% end %>
      </div>
    <% end %>
  </div>
<%= link_to new_boat_path do %>
    <button type="button" class="btn btn-secondary mt-4 mx-2">Add a new boat</button>
    <% end %>
