<div class="container" style="margin-bottom: 200px;">
<div class="container m-1 pb-2 d-flex flex-column align-items-center">
<h1 class="mb-4">Create your new boat</h1>
<%= simple_form_for @boat do |f| %>
<div class="d-flex justify-content-center">
<%= f.input :photo, as: :file %>
</div>
<div class="d-flex justify-content-center">
  <%= f.input :name_boat, input_html: { style: 'width: 300px;' } %>
  </div>
  <div class="d-flex justify-content-center">
  <%= f.input :price_per_day, input_html: { style: 'width: 300px;' } %>
</div>
<div class="d-flex justify-content-center">
  <%= f.input :construction_year, input_html: { style: 'width: 300px;' } %>
</div>
<div class="d-flex justify-content-center">
  <%= f.input :puissance, input_html: { style: 'width: 300px;' } %>
</div>
<div class="d-flex justify-content-center">
  <%= f.input :max_person, input_html: { style: 'width: 300px;' } %>
</div>
<div class="d-flex justify-content-center">
  <%= f.button :submit, class: 'btn btn-primary' %>
</div>
<% end %>
</div>
</div>
